/* Importamos fuentes: */

@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');


/* Establecemos las variables globales:  */


body{
    /*background-color: var(--main-bg-color);*/
    color:rgb(5, 4, 4);
    background-size:auto;
    font-family:Arial, Helvetica, sans-serif;
    
}


#content{
    color:rgb(36, 35, 35);
    
    border-radius: 5px;
    background-color: rgb(248, 248, 250);
    gap: 10px;
    /* background-color: var(--main-content-color); */
}
#logo{
    
    font-size: 45px;
    font-style: helvetica;
    text-align: center;
    
    
}

.grid-container{
    /* 
    align-content:center;
    height: 100%;
    grid-template-columns: auto auto auto;
    /*background: blue;
    text-align: center; */

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
    
    
    
}


.grid-item {
    
    padding: 3px;
    font-size: 15px;
    text-align: center;
    grid-template-columns: auto auto auto;
    background: chartreuse;
    gap: 5px;
    height: 100%;
    
    
    
}
*/
.articulo-img{
    object-fit: cover;
    width:100%;
    height:73%;
    background-color: rgb(226, 240, 40);
    
}

.articulo-block{
    background-color: rgb(231, 88, 212); 
    border-radius: 5px;
    border: 2px solid rgba(209, 31, 31, 0.925);
    height: 100%;
    
    
}   

form{
font-size: 15px;
}

.articulo-grid{
    text-align: center;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: auto;
    border-radius: 2px solid;
    gap: 5px;
    margin:auto;
}
.articulo-item{
    padding: 2%;
    font-size: 20px;
    border: 2.5px solid rgba(36, 34, 35, 0.884);
    
    grid-template-rows: auto;
    
}

.articulo-item img{
    width: 100%;
    border-radius: 10px;

}

.articulo-item h1{
    font-family:Arial, Helvetica, sans-serif;
    color:dimgrey;
    
}
.articulo-item h2{

    font-size: 20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.precio-item{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(105, 100, 100);
    font-size: 27px;
    text-align:center;
}
#grid-buttons{ 
    font-family: Arial, Helvetica, sans-serif;
    border: navy;
    background: rgb(250, 251, 252);
    grid-template-rows: auto;
    display:grid;
    padding: auto;

    
}

.tarea{
    color:var(--font-color-tarea);
    font-family: 'Marvel', 'italic';

}



.navegacion {
    width: 1000px;
    margin:auto;
    background-color:rgba(245, 235, 226, 0.891);
    
}

.navegacion ul{
    list-style: none;
    text-align:center;
}

.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li a:hover{
    color: rgb(238, 13, 88);
    transition: 
    all ,2s;
}

/* Submenu */

.submenu {
    position:absolute;
    background:white;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition:opacity 1s;
}
.submenu li a {
    display: block;
    padding: 15px;
    color: rgb(95, 93, 93);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.talles{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 88);
}

.mt-2{
    display: grid;
    justify-content: center;
    
}
#pictures{
    
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
    grid-gap: 5px;

}

#pictures img{
    width: 80%;
    transition: all 300ms;
    position: relative;

}

#pictures img:hover{
    transform: scale(1.15);
}

