/* Importamos fuentes: */

@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

/* Establecemos las variables globales:  */

body{
    /* background-color: rgb(253, 244, 226); */
    /* background-color:chartreuse; */
    color:rgb(143, 140, 140);
    background-size:auto;
    font-family:Arial, Helvetica, sans-serif;
    gap: 1px;
}

#content{
    color:rgb(99, 94, 94);
    padding: 1%;
    border-radius: 5px;
    /* background-color: rgb(233, 27, 27); */
    

}

#logo{
    border-radius: 5px;
    font-size: 40px;
    font-style: helvetica;
    text-align: center;
    background-color: rgb(255, 254, 254);
}

.footer{
    align-content: center;
    /* background-color: rgb(250, 252, 151); */
    text-align: center;
}

/* -----------------index----------------- */

.grid-container{
    width: 90%;
    text-align: center;
    display:grid;
    padding: 10px ;/* Achica el contenedor */
    grid-gap:0px ;/* Separacion entre bloques*/
    grid-template-columns: 25% 25% 25% 25%;
    /* background-color: rgb(5, 78, 202); */
    margin-left:50px;

}

.grid-item {
    width: 90%;
    height:350px;
    padding: 8px;
    text-align: center;
    
    /* background-color: rgb(248, 228, 197); */
    /* border:1px solid rgb(223, 41, 41); */

}

.articulo-img{
    border-radius:initial;
    object-fit:contain;
    width:100%;
    height:100%;
    border-radius: 20px;
    /* background-color: rgb(235, 38, 218); */

}

.articulo-block{
    /* background-color: rgb(21, 196, 74); */
    border-radius: 15px;
    /* border: 2px solid rgba(7, 7, 6, 0.925); */
    height: 80%;        /* contenedor de imagen*/

}


form{
font-size: 15px;
grid-template-rows:auto;

}
/* ----------detail--------------- */

.articulo-grid{
    text-align: center;
    display: grid;
    grid-template-columns: 20% 45% 35% ;
    padding: 2%;
    max-height: fit-content;
    gap: 10px;
    /* border:1px solid rgb(131, 128, 128); */
    /* background-color: cornflowerblue; */

}

.articulo-item{
    padding: 2%;
    font-size: 15px;
    /* border: 3px solid rgba(133, 130, 131, 0.884); */
    /* background-color: rgb(71, 250, 235); */
}

.articulo-item img{
    width: 80%;
    border-radius: 10px;

}

.articulo-item h1{

    font-family:Arial, Helvetica, sans-serif;
    color:rgb(58, 57, 57);
}

.articulo-item h2{

    font-size: 20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.precio-item{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(50, 49, 49);
    font-size: 20px;
    text-align:center;
}

#grid-buttons{
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(131, 131, 134);
    /* background: rgb(221, 5, 221); */
    display:grid;
    padding: 18px;
}


/* -----------MENU--------------- */
.navegacion {
    width: 1000px;
    margin:auto;
    background-color: rgb(255, 228, 211);
    /* background-color:rgba(227, 226, 245, 0.891); */

}

.navegacion ul{
    list-style: none;
    text-align:center;
}

.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color:black;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li a:hover{
    color: rgb(87, 129, 245);
    transition:
    all ,1.5s;
}

/* Submenu */

.submenu {
    position:absolute;
    background:rgb(236, 233, 226);
    width: 120%;
    visibility:visible;
    opacity: 0;
    transition:opacity 2s;
    text-align: left;
    z-index:auto ; 
}
.submenu li a {
    display: block;
    padding: 5px;
    color: rgb(7, 6, 6);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;

}
.submenu li form {
    display: block;
    padding: 5px;
    color: rgb(7, 6, 6);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;

}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

/* Paginator */
.mt-2{

    display:grid;
    justify-content:center;
    font-size: 15px;
    

}

/* -------------Img detail----------------- */

.pictures{

    grid-template-columns:repeat(1, 3fr);
    width: 80%;
    margin:2px;
    border: 1px solid rgb(161, 160, 160);
    /* background-color: magenta; */

}

.pictures img{
    margin:auto;
    width: 100%;
    transition: all 250ms;
    position:static;
    padding: 2px;
    border: #353535;

}

.pictures img:hover{
    transform: scale(1.40);

}

.articulo-item h5{

    font-size: 20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
/* ------ Cart ------- */

.cart-artic{
    text-align: center;
    display: grid;
    max-height: 360px;
    grid-template-columns: 50% 50%;
    padding: 2%;
    border:1px solid black;
    /* background-color: rgb(216, 102, 36); */

}
.cart-artic-img{
    max-height:300px;
    border-radius: 2px solid rgb(145, 140, 146);
    /* background-color: aqua; */
    padding: 1px;


}
.boton {
    
    border:2px solid #101113; /*anchura, estilo y color borde*/
    padding: 5px; /*espacio alrededor texto*/
    background-color: #f4d6b1; /*color botón*/
    color: #030303; /*color texto*/
    text-align: center;
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 20px; /*bordes redondos*/
    width: 80px;
    z-index: 1;

    }

    .login{
        grid-template-rows: 50px;
        font-size: 10px;
    }



/* ------------------------- Slider ------------------------------------ */


.slider {
    width: 80%;
    margin: auto;
    overflow: hidden;

    background-color: #fadebd;
    box-shadow: 0 0 0 10px #fadebd,
                0 15px 50px;
}

.slider ul {
    padding: 1px;
    display: flex;
    width: 300%;
    
    
    /* position:static; */
    animation: cambio 10s infinite;
    animation-direction: alternate;
    animation-timing-function:linear;
    
    
}

.slider li {
    list-style: none;
    width: 90%;

}

.slider img {
    width: 100%;
    display: block;
    margin: auto;
}

@keyframes cambio {
    0% {margin-left:0;}
    28% {margin-left:0;}

    35%{margin-left: -100%;}
    63% {margin-left:-100%;}

    70% {margin-left:-200%;}
    100% {margin-left:-200%;}


}

















































/* .contslider{
    margin: 3px;
    /* background-color: rgb(243, 239, 31);
    width: 100%;
    height: 100%;
    padding: 2px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 0 10px rgb(245, 235, 209),
                0 15px 30px;
    position: relative;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      display: flex;
      animation: cambio 20s infinite
      alterative ;
      list-style: none;
      width: 400%;
  }
  
  ul.slider{
    position: relative;
    width: 350px;
    height:360px;
    
  }
  
  ul.slider li {
      position: absolute;
      left: 20px;
      top: 2px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      /* background:rgb(175, 182, 247); 
  }
  
  ul.slider li img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos
  }
   
  .menuslider{
    text-align: center;
    margin: auto;
  }
  
  .menuslider li{
    display: inline-block;
    text-align: center;
  }
 
  .menuslider li a{
    display: inline-block;
    position: absolute;
    color: rgb(32, 30, 30);
    text-decoration: none;
    background-color: rgb(209, 196, 196);
    padding: 5px;
    width: 30px;
    height:30px;
    font-size: 15px;
    border-radius: 100%;
    top: 50%;
  }
  @keyframes cambio {
      0% {margin-left: 0;}
      30% {margin-left: 0;}

      35%{margin-left: -100%;}
      65%{margin-left: -100%;}

      70%{margin-left: -200%;}
      100%{margin-left: -200%;}
  } */