/* Importamos fuentes: */

@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

/* Establecemos las variables globales:  */

body{
    background-color: rgb(248, 232, 223);
    /* background-color:chartreuse; */
    color:rgb(143, 140, 140);
    background-size:auto;
    font-family:Arial, Helvetica, sans-serif;
    gap: 1px;
}

#content{
    color:rgb(99, 94, 94);
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(233, 27, 27);
    

}

#logo{
    border-radius: 5px;
    font-size: 40px;
    font-style: helvetica;
    text-align: center;
    background-color: rgb(248, 232, 223);
}

.footer{
    align-content: center;
    background-color: rgb(250, 252, 151);
    text-align: center;
}

/* -----------------index----------------- */

.grid-container{
    text-align: center;
    display:grid;
    padding: 10px ;/* Achica el contenedor */
    grid-gap: 10px ;/* Separacion entre bloques*/
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(3, 10, 22);

}

.grid-item {

    max-height:470px;
    padding: 3px;
    text-align: center;
    background-color: rgb(250, 226, 93);
    border:1px solid rgb(223, 41, 41);

}

.articulo-img{
    object-fit:cover;
    width:100%;
    height:100%;
    background-color: rgb(81, 81, 247);

}

.articulo-block{
    background-color: rgb(21, 196, 74);
    border-radius: 5px;
    border: 2px solid rgba(7, 7, 6, 0.925);
    height: 80%;        /* contenedor de imagen*/

}


form{
font-size: 15px;
grid-template-rows:auto;

}
/* ----------detail--------------- */

.articulo-grid{
    text-align: center;
    display: grid;
    grid-template-columns: 20% 45% 35% ;
    padding: 2%;
    max-height: fit-content;
    gap: 10px;
    border:1px solid black;
    background-color: cornflowerblue;

}

.articulo-item{
    padding: 2%;
    font-size: 20px;
    border: 3px solid rgba(36, 34, 35, 0.884);
    background-color: rgb(71, 250, 235);
}

.articulo-item img{
    width: 80%;
    border-radius: 10px;

}

.articulo-item h1{

    font-family:Arial, Helvetica, sans-serif;
    color:rgb(75, 74, 74);
}

.articulo-item h2{

    font-size: 20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.precio-item{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(105, 100, 100);
    font-size: 20px;
    text-align:center;
}

#grid-buttons{
    font-family: Arial, Helvetica, sans-serif;
    border: navy;
    background: rgb(221, 5, 221);
    display:grid;
    padding: 18px;
}


/* -----------MENU--------------- */
.navegacion {
    width: 1000px;
    margin:auto;
    background-color: rgb(248, 232, 223);
    /* background-color:rgba(227, 226, 245, 0.891); */

}

.navegacion ul{
    list-style: none;
    text-align:center;
}

.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color:black;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li a:hover{
    color: rgb(241, 8, 8);
    transition:
    all ,1.5s;
}

/* Submenu */

.submenu {
    position:absolute;
    background:orange;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition:opacity 1s;
    text-align: left;
}
.submenu li a {
    display: block;
    padding: 5px;
    color: rgb(7, 6, 6);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;

}
.submenu li form {
    display: block;
    padding: 5px;
    color: rgb(7, 6, 6);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;

}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

/* Paginator */
.mt-2{

    display:grid;
    justify-content:center;
    font-size: 15px;
    

}

/* -------------Img detail----------------- */

.pictures{

    grid-template-columns:repeat(1, 3fr);
    width: 80%;
    margin:2px;
    border: 1px solid rgb(243, 13, 13);
    background-color: magenta;

}

.pictures img{
    margin:auto;
    width: 100%;
    transition: all 250ms;
    position:static;
    padding: 2px;
    border: #353535;

}

.pictures img:hover{
    transform: scale(1.40);

}

.articulo-item h5{

    font-size: 20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
/* ------ Cart ------- */

.cart-artic{
    text-align: center;
    display: grid;
    max-height: 360px;
    grid-template-columns: 50% 50%;
    padding: 2%;
    border:1px solid black;
    background-color: rgb(216, 102, 36);

}
.cart-artic-img{
        max-height:300px;
        border-radius: 2px solid rgb(126, 2, 163);
        background-color: aqua;
        padding: 1px;


}
.boton {
    border:2px solid #101113; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #7888b4; /*color botón*/
    color: #030303; /*color texto*/
    text-align: center;
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    width: 100px;

    }

    .login{
        grid-template-rows: 50px;
        font-size: 10px;
    }