/* Importamos fuentes: */

@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');


/* Establecemos las variables globales:  */


body{
    /*background-color: var(--main-bg-color);*/
    color:rgb(143, 140, 140);
    background-size:contain;
    font-family:Arial, Helvetica, sans-serif;
}


#content{
    color:black;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(250, 248, 248);
    /* background-color: var(--main-content-color); */
}
#logo{
    border-radius: 5px;
    font-size: 40px;
    font-style: helvetica;
    text-align: center;
    
}



.grid-container{
    text-align: center;
    display: grid;
    padding: 5px 0;
    grid-gap: 10px 30px ;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}


.grid-item {
    padding: 3px;
    font-size: 15px;
    text-align: center;
    
    
}

.articulo-img{
    object-fit: cover;
    width:100%;
    height:73%;
    
}

.articulo-block{
    background-color: rgb(235, 226, 226); 
    border-radius: 5px;
    border: 2px solid rgba(138, 136, 136, 0.925);
    height: 80%;        
    background-size:cover;
}   

form{
font-size: 15px;
}

.paginator-content{
    text-align: center;
    display: grid;
    grid-template-columns: 35% 10% 10% 10% 35%;
}
.paginator-item{
    padding: 5px;
    font-size: 15px;
    text-align: center;
    
}

.articulo-grid{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr ;
}
.articulo-item{
    padding: 2%;
    font-size: 20px;
    text-align: center;
    border: 3px solid rgba(36, 34, 35, 0.719); 
}

.articulo-item img{
    width: 100%;
    border-radius: 10px;

}

.articulo-item h1{
    font-family:Arial, Helvetica, sans-serif;
    color:dimgrey;
}
.articulo-item h2{

    font-size: 20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
.precio-item{
    font-family: 'Permanent Marker', cursive;
    color:rgb(29, 29, 29);
    font-size: 30px;
    text-align:center;
}
#grid-buttons{ 
    text-align: right;
    display:block;
    grid-template-columns: 100% 100%;
}

.tarea{
    color:var(--font-color-tarea);
    font-family: 'Marvel', 'italic';

}

a[href*="inove"]{
    color:rgb(106, 125, 231);
}

.navegacion {
    width: 1000px;
    margin:auto;
    
}

.navegacion ul{
    list-style: none;
    text-align:center;
}

.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li a:hover{
    color: rgb(32, 32, 228);
    transition: 
    all ,2s;
}

/* Submenu */

.submenu {
    position:absolute;
    background:white;
    width: 100%;
    display: none;
}
.submenu li a {
    display: block;
    padding: 15px;
    color: rgb(95, 93, 93);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

.menu li:hover .submenu {
    display: block;
}