<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    {% block head %}

    {% endblock head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'e-shop/css/base.css' %}">
    <title>{% block title %}E-SHOP{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        <center>
            <img id="logo" src= "{% static 'e-shop/img/flores.jpg' %}" alt="" width="50%" height="50%">
        </center>
        <br>

        {% block sidebar %}
        <center>
        | <a href="/e-shop/index">Articulos</a>
        {% if user.is_authenticated %}
        | <a href="/e-shop/logout">Salir</a>
        | <a href="/e-shop/user">Usuario</a>
        | <a href="/e-shop/cart">Carrito</a>
        | <a href="/e-shop/wish">Favoritos</a>
        {% else %}
        | <a href="/e-shop/login">Ingresar</a>
        | <a href="/e-shop/signup">Registrate</a>
        {% endif %}
        </center>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>

        <div id="footer">
            

            
                   
                    </center>
                    <h5>Esta aplicación fue desarrollada como parte del curso "Python Django" en <a
                        href="https://www.inove.com.ar">  Inove - coding school</a></h5>
        </div>

    </footer>
</body>

</html>