<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    {% block head %}

    {% endblock head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'e-shop/css/base.css' %}">

    <title>{% block title %}E-SHOP{% endblock %}</title>
</head>

<body>
    <div id="logo">
        </center>
        <p>
            <img src="{% static 'e-shop/img/corazon.png' %}"width="28px" height="28px" > DANIEL CASSIN <img src="{% static 'e-shop/img/corazon.png' %}" width="28px" height="28px"> 
        </p>    
            <h4>E-Shop<h4>
        </center>
    
    </div>
    {% block sidebar %}
    <div id="sidebar">
        <div class="desplegable">
            <button class="boton"><a href="/e-shop/index"><img src="{% static 'e-shop/img/ropa.png' %}" with="40px" height="40px"></a></button>
            
                <div class="links">
                <a href="#">Todos los Prductos</a>
                <a href="#">Jeans</a>
                <a href="#">Pantalones</a>
                <a href="#">Remeras</a>
                </div>
    
        </div>
    
        <center>
        {% if user.is_authenticated %}
         <a href="/e-shop/signup"><img src="{% static 'e-shop/img/registrarse.jpeg' %}" with="40px" height="40px"></a>
         <a href="/e-shop/cart"><img src="{% static 'e-shop/img/bolsa.png' %}" with="40px" height="40px"></a>
         <a href="/e-shop/wish"><img src="{% static 'e-shop/img/favs.png' %}" with="40px" height="40px"></a></a>
         <a href="/e-shop/logout"><img src="{% static 'e-shop/img/exit.jpg' %}" with="40px" height="40px"></a>
        {% else %}
         <a href="/e-shop/login"><img src="{% static 'e-shop/img/entrar.png' %}" with="40px" height="40px"></a>
         <a href="/e-shop/signup"><img src="{% static 'e-shop/img/registrarse.jpeg' %}" with="40px" height="40px"></a>
        {% endif %}

        </center>
                       
        
        {% endblock %}
    
    </div>

    

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div id="footer">
            </center>
            <h5>Esta aplicación fue desarrollada como parte del curso "Python Django" en <a
                href="https://www.inove.com.ar">  Inove - Coding School</a></h5>
        </div>
    </footer>

</body>
</html>