<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    {% block head %}

    {% endblock head %}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'e-shop/css/base.css' %}">
    

    <title>{% block title %}E-SHOP{% endblock %}</title>
</head>

    
    <body>
        <div id="logo">    
    
        </center>
         <img src="{% static 'e-shop/img/corazon.png' %}"width="28px" height="28px" >DANIEL CASSIN<img src="{% static 'e-shop/img/corazon.png' %}" width="28px" height="28px"> 
         
        </center>
        
        </div>
    
    <header>
        
        <nav class="navegacion">   
            <ul class="menu">
                <li><a href = "/e-shop/index">Inicio</a></li>    
            <li><a href = "">Productos</a>
                <ul class="submenu">  
                    <left>
                    <li><a href = "/e-shop/index">Todos</a></li>
                    <li><a href = "">Jeans</a></li>
                    <li><a href = "">Pantalones</a></li>
                    <li><a href = "">Camisas</a></li>
                    <li><a href = "">Remeras</a></li>
                    <li><a href = "">Sweaters</a></li>
                    <li><a href = "">Camperas</a></li>
                    <li><a href = "">Sacos</a></li>
                    <li><a href = "">Faldas</a></li>
                    <li><a href = "">Vestidos</a></li>
                    </left>
                </ul>         
                
            <li><a href = "/e-shop/login">Login</a></li>
            <li><a href = "/e-shop/wish">Favoritos</a></li>
            <li><a href = "/e-shop/cart">Carrito</a></li>
            <li><a href = "/e-shop/logout">Salir</a></li>

            </ul>
        </nav>
    </header>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div>
            
            <h5>Esta aplicación fue desarrollada como parte del curso "Python Django" en <a
                href="https://www.inove.com.ar">  Inove - Coding School</a></h5>
        </div>
    </footer>

</body>
</html>