{% extends "e_shop/base.html" %}
{% block title %}Daniel Cassin-Mi Bolsa{% endblock %}
{% block content %}
{% load static %}





<div>
    <center><h4>Hola {{user.username}}!! Puedes confirmar el pedido o quitarlo de tu carrito.</h4></center>        
    {% for articulo in cart_items %}
            
            <div class="cart-artic">

                <div class="cart-artic-img">
                    <a href="/e-shop/detail_nuevo?art_id={{articulo.art_id}}">
                        <img src="{{articulo.picture.url}}" with= "180px" height="300px" alt="Not found">
                    </a>
                </div>

            <div>
                        <h2>{{articulo.nombre}}</h2>

                        <h3>Precio: $ {{articulo.precio}}</h3>

                        <h3>Talle {{ articulo.talle_seleccionado }}</h3>


                        <h3>Color: {{articulo.color_id}}</h3>

                        

                <form action="{% url 'checkbutton' %}" method="POST">{%csrf_token%}
                    <input type="hidden" name="username" value="{{user.username}}">
                    <input type="hidden" name="art_id" value="{{articulo.art_id}}">
                    <input type="hidden" name="nombre" value="{{articulo.nombre}}">
                    <input type="hidden" name="precio" value="{{articulo.precio}}">
                    <input type="hidden" name="color_id" value="{{articulo.color_id}}">
                    <input type="hidden" name="talle_xs" value="{{articulo.talle_xs}}">
                    <input type="hidden" name="talle_s" value="{{articulo.talle_s}}">
                    <input type="hidden" name="talle_m" value="{{articulo.talle_m}}">
                    <input type="hidden" name="talle_l" value="{{articulo.talle_l}}">
                    <input type="hidden" name="talle_xl" value="{{articulo.talle_xl}}">
                    <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
                    <input type="hidden" name="type_button" value="cart">
                    <input type="hidden" name="actual_value" value="True">
                    <input type="hidden" name="path" value="cart">
                    <input type="hidden" name="path" value="{% url 'cart' %}">
                    <input type="image" src="{% static 'e-shop/img/bolsa_true.png' %}" width="25%">
                </form>

                <p>Quitar de Mi Bolsa</p>
            </div>




            </div>
        
    {% endfor %}
    {% if precio_total > 0 %}
        <div>
            <h2><center>Total Compra: $ {{precio_total}}</h2></center>
        </div>  
    <br>
    <div>
    
            
            <center><a class="boton" href="{% url 'gracias' %}" style=>Confirmar Compra</a></center>

    {% else%}
        <center><h1>Tu bolsa esta vacia!</h1> </center>
        <br>
        <center><a class="boton" href="{% url 'inicio' %}" style=>Volver</a></center>

    {% endif %}

    </div>
    </div>
{% endblock %}



</div>