{% extends "e_shop/base.html" %}
{% block title %}Daniel Cassin-Mi Bolsa{% endblock %}
{% block content %}
{% load static %}





<div>
    {% for item in cart_items %}
    <center><h4>Hola {{user.username}}!! Puedes confirmar el pedido o quitarlo de tu bolsa.</h4></center>        
    
            
            <div class="cart-artic">

                <div class="cart-artic-img">
                    <a href="/e-shop/detail?art_id={{item.art_id.art_id}}">
                        <img src="{{item.art_id.picture.url}}" with= "180px" height="300px" alt="Not found">
                    </a>
                </div>

            <div>
                        <h2>{{item.art_id.nombre}}</h2>

                        <h3>Precio: $ {{item.art_id.precio}}</h3>
            
                        <h3>Talle: {{item.talle_elegido}}</h3>


                        <h3>Color: {{item.art_id.color_id}}</h3>

                        

                <form action="{% url 'check_button' %}" method="POST">{%csrf_token%}
                    <input type="hidden" name="username" value="{{user.username}}">
                    <input type="hidden" name="art_id" value="{{item.art_id.art_id}}">
                    <input type="hidden" name="nombre" value="{{item.art_id.nombre}}">
                    <input type="hidden" name="precio" value="{{item.art_id.precio}}">
                    <input type="hidden" name="color_id" value="{{item.art_id.color_id}}">
                    <input type="hidden" name="talle_elegido" value="{{item.talle_elegido}}">
                    <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
                    <input type="hidden" name="type_button" value="cart">
                    <input type="hidden" name="actual_value" value="True">
                    <input type="hidden" name="path" value="cart">
                    <input type="hidden" name="path" value="{% url 'cart' %}">
                    <input type="image" src="{% static 'e-shop/img/bolsa_true.png' %}" width="25%">
                </form>

                <p>Quitar de Mi Bolsa</p>
            </div>




            </div>
        
    {% endfor %}
    {% if precio_total > 0 %}
        <div>
            <h2><center>Total Compra: $ {{precio_total}}</h2></center>
        </div>  
    <br>
    <div>
    
            
            <center><a class="boton" href="{% url 'gracias' %}" style=>Confirmar Compra</a></center>

    {% else%}
        <center><h1>Tu bolsa esta vacia!</h1> </center>
        <br>
        <center><a class="boton" href="{% url 'inicio' %}" style=>Volver</a></center>

    {% endif %}

    </div>
    </div>
{% endblock %}



</div>