{% extends "e_shop/base.html" %}

{% block title %}Detalle de producto{% endblock %}

{% block content %}
{% load static %}
<div class="articulo-grid">

    
    
    <div class="pictures">
        <img src="{{ articulo.picture.url }}" alt="Not Found" width="140px" height="180px"> 
        
        <img src="{{ articulo.picture_1.url }}" alt="Not Found" width="140px" height="180px">
        
        <img src="{{ articulo.picture_2.url }}" alt="Not Found" width="140px" height="180px">
        
    </div>

    <div class="articulo-item">
        
        <img src="{{ articulo.picture.url }}" alt="Not Found">
        
        
    </div>
    <div class="articulo-item">
        <h1>
            {{articulo.nombre}}
        </h1>
        
       
    
    <div class="precio-item">
            Precio: $ {{articulo.precio}}
    
        
    <div class="talles">
        <h5>
            Elegi tu talle:
        
        <select name="talles" id="talles">    
                        
        {%if articulo.talle_xs == 'xs-agotado-' %}
            <option value = "xs" disabled>xs</option>
        {%else%}
            <option value="xs">{{articulo.talle_xs}}</option>
        {% endif %}
        
        {%if articulo.talle_s == 's-agotado-' %}
            <option value="s" disabled>s</option>
        {%else%}
            <option value="s">{{articulo.talle_s}}</option>
        {% endif %}

        {%if articulo.talle_m == 'm-agotado-' %}
            <option value="m" disabled>m</option>    
        {%else%}
            <option value="m">{{articulo.talle_m}}</option>
        {% endif %}

        {%if articulo.talle_l == 'l-agotado-' %}
            <option value="l" disabled>l</option>    
        {%else%}
            <option value="1">{{articulo.talle_l}}</option>
        {% endif %}    

        {%if articulo.talle_xl == 'xl-agotado-' %}
            <option value="xl" disabled>xl</option>    
        {%else%}
            <option value="1">{{articulo.talle_xl}}</option>
        {% endif %}
        </h5>                                      
        </select>       
    </div>            

    <div>
             
        <h5>
            Color:
            <select name="OS">
                <h6>
                <option value="1">{{articulo.color_id}}</option> 
                </h6>
                
             </select>

        </h5>
    </div>
    
    <br>
        
    <div id="grid-buttons">
            
            

            <form action="{% url 'checkbutton' %}" method="POST">{%csrf_token%}

                <input type="hidden" name="username" value="{{user.username}}">
                <input type="hidden" name="art_id" value="{{articulo.art_id}}">
                <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
                <input type="hidden" name="type_button" value="cart">
                <input type="hidden" name="actual_value" value="{{cart}}">  
                <input type="hidden" name="path" value="{% url 'detail' %}">  
                
            {% if cart %}
                <input type="image" src="{% static 'e-shop/img/cart-true.png' %}" width="60px" height="60px"><h2>Agregado!</h2>
            {% else %}
                <input type="image" src="{% static 'e-shop/img/cart-false.png' %}"width="60px" height="60px">
            {% endif %}
                    
                </form>
    </br>        
    </div>

        <div id="grid-buttons">
            <h3>Me encanta</h3>
                
            <form action="{% url 'checkbutton' %}" method="POST">{%csrf_token%}
                    
                <input type="hidden" name="username" value="{{user.username}}">
                <input type="hidden" name="art_id" value="{{articulo.art_id}}">
                <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
                <input type="hidden" name="type_button" value="favorite">
                <input type="hidden" name="actual_value" value="{{favorite}}">  
                <input type="hidden" name="path" value="{% url 'detail' %}">  
                    
                {% if favorite %}
                    <input type="image" src="{% static 'e-shop/img/favs-true.png' %}" width="60px" height="60px">
                {% else %}
                    <input type="image" src="{% static 'e-shop/img/favs-false.png' %}" width="60px" height="60px">
                {% endif %}
                
            </form>
        </div>
    </div>
</div>

{% endblock content %}
