{% extends "e_shop/base.html" %}

{% block title %}Agradecemos su compra{% endblock %}

{% block content %}

{% for articulo in cart_itmes %}
<form action="{% url 'gracias' %}" method="POST">{%csrf_token%}
    <input type="hidden" name="username" value="{{user.username}}">
    <input type="hidden" name="art_id" value="{{articulo.art_id}}">
    <input type="hidden" name="color_id" value="{{articulo.color_id}}">
    <input type="hidden" name="talle_xs" value="{{articulo.talle_xs}}">
    <input type="hidden" name="talle_s" value="{{articulo.talle_s}}">
    <input type="hidden" name="talle_m" value="{{articulo.talle_m}}">
    <input type="hidden" name="talle_l" value="{{articulo.talle_l}}">
    <input type="hidden" name="talle_xl" value="{{articulo.talle_xl}}">
    <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
    <input type="hidden" name="type_button" value="gracias">
    <input type="hidden" name="actual_value" value="True">
    <input type="hidden" name="path" value="gracias">
    <input type="hidden" name="path" value="{% url 'gracias' %}">
    
</form>
<h3>Compraste</h3>

<h3>Articulo:{{articulo.nombre}}
    Color:{{articulo.color_id}}
    Precio:{{articulo.precio}}
    Talle:{{articulo.talle_xs}}
    Talle:{{articulo.talle_s}}
    Talle:{{articulo.talle_m}}
    Talle:{{articulo.talle_l}}
    Talle:{{articulo.talle_xl}}
</h3>
{% endfor %}
<center><p>Gracias por su compra!, te enviaremos un mail a {{user.email}} con las instrucciones de pago</p><center>
<br>
<div>
    <center><a class="boton" href="{% url 'index' %}" style=>Volver</a></center>
</div>
<br>
{% endblock %}