{% extends "e_shop/base.html" %}

{% block title %}DANIEL CASSIN{% endblock %}

{% block content %}
{% load static %}

<div class="slider">
  <ul>
    
     <li><img src="{% static 'e-shop/img/foto1_inicio.jpg'%}" alt=""/></li>
    
    
      <li><img src="{% static 'e-shop/img/foto2_inicio.jpg'%}" alt=""/></li>
    
    
      <li><img src="{% static 'e-shop/img/foto_inicio3.jpg'%}" alt=""/></li>
  </ul>
  
</div>
<br>

<!-- Lista de articulos: -->
<div class='grid-container'>
  {% for categoria in categorias %}

  <div class="grid-item">
    <div class="articulo-block">

          <a href = "/e-shop/categorias?categoria_id= {{ categoria.id }}">
          <img class='articulo-img' src="{{categoria.picture_cat.url}}" alt="Not found">
          </a>

          <h4> {{ categoria.categoria}}</h4>

    </div>
  </div>

  {% endfor %}
    {% comment %} <div class="grid-item">
        <div class="articulo-block"> {% endcomment %}
          
          
          
        </div>    
    </div>
    
</div>


<!-- Ejemplo de paginado con un bucle:
{% for page in page_obj.paginator.page_range %}
    <a href="?page={{page}}">{{page}}</a>
{% endfor %} -->
    


{% endblock %}