{% extends "e_shop/base.html" %}

{% block title %}Daniel Cassin-Favoritos{% endblock %}

{% block content %}
{% load static %}




<div>
    {% comment %} {% if not articulo in fav_items %}
        
        <center><h4>NO TENES FAVORITOS</h4></center>
        <br> {% endcomment %}
        
    
    {% comment %} {% else %} {% endcomment %}

    {% for articulo in fav_items %}
    

    <div class="cart-artic">
        <div class="cart-artic-img">
            <a href="/e_shop/detail?art_id={{articulo.art_id}}">
                <img class="articulo_img" src="{{articulo.picture.url}}" with= "180px" height="300px" alt="Not found">
            </a>
        </div>
        
            <div>
                
                    <h2>{{articulo.nombre}}</h2>
                
                
                    <h2>Precio: $ {{articulo.precio}}</h2>
                
            
        
        
            <form action="{% url 'checkbutton' %}" method="POST">{%csrf_token%}

                <input type="hidden" name="username" value="{{user.username}}">
                <input type="hidden" name="art_id" value="{{articulo.art_id}}">
                <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
                <input type="hidden" name="type_button" value="favorite">
                <input type="hidden" name="actual_value" value="True">
                <input type="hidden" name="path" value="wish">
                <input type="hidden" name="path" value="{% url 'wish' %}">

                <input type="image" src="{% static 'e-shop/img/favs-true.png' %}" width="25%">
            </form>
            <p>Click</p>
            <p>Quitar de favoritos</p>
            
        </div>
    
    </div>
    
    {% endfor %}


    {% comment %} {% endif %} {% endcomment %}
    <br>
    <center><a class="boton" href="{% url 'inicio' %}" style=>Volver</a></center>        
    
{% endblock %}

</div>
